<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
              type="text/css"
              href="{{ url_for('static',filename='styles/login.css') }}">
        <title>Login Page</title>
    </head>
    <body>
        <menu>
        <div>
            <div class="loginBox">
                <a href="index.html">
                    <img src="../static/images/loginrounded.png"
                         width="200"
                         height="200"
                         alt="USer Loga"
                         class="avatar"/>
                </a>
                <form action="#" method="post">
                    <h2>Admin Login</h2>
                    <p>
                        UserName :
                        <input type="text" name="username" value="" placeholder="UserName">
                    </p>
                    <p>
                        Password :
                        <input type="password" name="password" value="" placeholder="Password">
                    </p>
                    <input type="submit" value="Login">
                    <p>
                        <a href="">Lost your password?</a>
                    </p>
                    <p>
                        <a href="">Dont have an account?</a>
                    </p>
                </form>
            </div>
            <div></div>
        </div>
        </menu>
    </body>
</html>
