@charset "utf-8";
/* CSS Document */

body {
    margin: 0;

}

ul {

    list-style-type: none;
    background: #999;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;


}

li {
    float: left;
    border-right: 1px solid #555;


}

li:last-child {


}

li a,.dp-Btn {

    display: block;
    color: #FFF;
    padding: 16px 16px;
    text-decoration: none;
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;


}
.dp-Btn{
    display: inline-block;
}
li a:hover:not(.active) {
    background-color: darkred;

}

a.active {
    background-color: darkred;

}


.dp-Content {

    display: none;
    position: absolute;
    background-color: #333;
    z-index: 1;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7);
}
.dropdown{
    position: relative;
}
.dropdown:hover .dp-Content {
    display: inline-block;



}


@media screen and (max-width: 600px) {
    ul li {
        float: none;
    }
}